# Live Session 1
## Introduction: Basic Syntax, Data Type and Variable
#### By Ika Nurfitriani (PYTN-KS10-008)
Di pertemuan ini ada beberapa hal yang akan dibahas diantaranya sintaks dasar, tipe data dan variabel. Aturan penulisan sintaks dasar dalam Python yaitu Case Sensitive (huruf besar dan kecil berbeda), baris perintah boleh ataupun tidak diakhiri dengan titik koma karena tidak berpengaruh dan boleh menggunakan tanda petik satu, petik dua atau petik tiga. Lalu untuk komentar ditandai dengan tanda pagar (#).

Ini adalah notebook pertama saya

In [1]:
# Mencetak Hello World
print("Hello World")

Hello World

Untuk menjalankan kode pada cell, dapat menggunakan shift+enter

## Tipe Data Tunggal

In [2]:
# Tipe data tunggal
# Mencetak bilangan bulat
print(3512)

3512

In [3]:
# Melihat tipe data dari 3512
type(3512)

int

In [4]:
# Mencetak bilangan desimal
print(3.1415)

3.1415

In [1]:
# Melihat tipe data dari 3.1415
type(3.1415)

float

In [5]:
# Mencetak 3+2j
print(3+2j)

(3+2j)

In [6]:
# Melihat tipe data dari 3+2j
type(3+2j)

complex

In [7]:
# Mencetak dan melihat tipe data dari 4.0
print(4.0)
type(4.0)

4.0

float

In [8]:
# Mencetak dan melihat tipe data dari True
print(True)
type(True)

True

bool

In [9]:
# Mencetak dan melihat tipe data dari False
print(False)
type(False)

False

bool

In [10]:
# Mencetak dan melihat tipe data dari "46"
print("46")
type("46")

46

str

In [11]:
# Mencetak dan melihat tipe data dari 'Nama Saya Ika'
print('Nama Saya Ika')
type('Nama Saya Ika')

Nama Saya Ika

str

## Variabel

In [12]:
# Membuat variabel a dengan memasukkan angka bulat
a = 12

In [13]:
# Mencetak dan melihat tipe data dari variabel a
print(a)
type(a)

12

int

In [14]:
# Membuat variabel a dengan memasukkan angka desimal
a = 7.5

# Mencetak dan melihat tipe data dari variabel a
print(a)
type(a)

7.5

float

In [16]:
# Membuat 2 variabel dalam 1 baris yang sama
angka_1, angka_2 = 7, 15.2

In [17]:
# Mencetak variabel angka_1
print(angka_1)

7

In [18]:
# Mencetak variabel angka_2
print(angka_2)

15.2

In [19]:
# Membuat variabel nama dengan memasukkan nama saya sendiri
nama = "Ika Nurfitriani"

# Mencetak dan melihat tipe data dari variabel nama
print(nama)
type(nama)

Ika Nurfitriani

str

## Operasi

In [20]:
# Penjumlahan
5 + 3

8

In [21]:
# Pembagian
a = 5
b = 4

a // b

1

In [22]:
# Modulus
a % b

1

In [23]:
# Aritmatika
# Penjumlahan
print(a + b)
# Perkalian
print(a * b)

9
20

In [24]:
# String
nama_depan = "Ika"
nama_belakang = "Nurfitriani"

# String Manipulation
# Pertambahan String
print(nama_depan + nama_belakang)

IkaNurfitriani

In [25]:
# Perkalian String
print(nama_depan * 5)

IkaIkaIkaIkaIka

In [26]:
# Perbandingan
a = 10
b = 5

print(a > b)

True

In [27]:
# Logika
print(False or True)

True

In [30]:
# Case Conversion
nama = "Ngodingpython channel"
print(nama.capitalize())
print(nama.upper())
print(nama.lower())
print(nama.title())

Ngodingpython channel
NGODINGPYTHON CHANNEL
ngodingpython channel
Ngodingpython Channel

## Tipe Data Majemuk

In [31]:
# Tuple
# Tuple didefinisikan dengan mengapit elemen dalam tanda kurung ()
my_tuple = (53, 45.2, True, "Ika", (1, 2, 3))
print(my_tuple)
type(my_tuple)

(53, 45.2, True, 'Ika', (1, 2, 3))

tuple

In [32]:
# List 
# List didefinisikan dengan mengapit elemen dalam tanda kurung siku []
my_list = [53, 45.2, True, "Ika", (1, 2, 3)]
print(my_list)
type(my_list)

[53, 45.2, True, 'Ika', (1, 2, 3)]

list

In [33]:
# Mencetak isi data tuple yang ke-4 atau index ke-3
print(my_tuple[3])

Ika

In [35]:
# Mencetak isi data list yang ke-3 atau index ke-2
print(my_list[2])

True

In [36]:
# Mencetak isi data list yang ke-4 atau index ke-(-2)
print(my_list[-2])

Ika

In [37]:
# Mencetak isi data list yang ke-3 dan ke-4 atau index ke-2 dan ke-3
print(my_list[2:4])

[True, 'Ika']

In [38]:
# Mencetak isi data tuple yang ke-3 dan ke-4 atau index ke-2 dan ke-3
print(my_tuple[2:4])

(True, 'Ika')

In [39]:
# Mencari ika dalam tuple
"ika" in my_tuple

False

In [40]:
# Mencari Ika dalam tuple
"Ika" in my_tuple

True

In [41]:
# Perbedaan

# Pengubahan data
my_list[3] = "NgodingPython"

In [42]:
# Melihat perubahan data dalam list
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3)]

In [43]:
my_tuple[3] = "NgodingPython"

TypeError: 'tuple' object does not support item assignment

In [44]:
# Menambah data
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3)]

In [45]:
# Append
my_list.append("Hacktiv8")

In [46]:
# Melihat kembali list untuk melihat adanya penambahan isi
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3), 'Hacktiv8']

In [47]:
# Menambahkan data menggunakan insert
my_list.insert(0, "Kampus Merdeka")

In [48]:
# Melihat kembali list untuk melihat adanya penambahan isi
my_list

['Kampus Merdeka', 53, 45.2, True, 'NgodingPython', (1, 2, 3), 'Hacktiv8']

In [49]:
# Menghapus data menggunakan remove
my_list.remove('NgodingPython')

In [50]:
# Melihat kembali list untuk melihat adanya penghapusan isi
my_list

['Kampus Merdeka', 53, 45.2, True, (1, 2, 3), 'Hacktiv8']

In [51]:
# Menghapus data menggunakan del
del my_list[2]

In [52]:
# Melihat kembali list untuk melihat adanya penghapusan isi
my_list

['Kampus Merdeka', 53, True, (1, 2, 3), 'Hacktiv8']

In [54]:
# Dictionary
# Didefinisikan dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal {}. Untuk memisahkan setiap kunci dari nilai yang terkait digunakan titik dua :
my_dict = {'Nama':'Ika Nurfitriani', 'Pekerjaan':'Mahasiswa'}

In [55]:
# Mencetak kunci nama
my_dict['Nama']

'Ika Nurfitriani'

In [56]:
# Mengganti nilai dari kunci nama
my_dict['Nama'] = "Park Chanyeol"

In [57]:
# Mencetak variabel my_dict
my_dict

{'Nama': 'Park Chanyeol', 'Pekerjaan': 'Mahasiswa'}

In [58]:
# Menambahkan kunci dengan nilainya
my_dict['Domisili'] = 'Bandung'

In [59]:
# Mencetak variabel my_dict
my_dict

{'Nama': 'Park Chanyeol', 'Pekerjaan': 'Mahasiswa', 'Domisili': 'Bandung'}

In [60]:
# Menghapus kunci pekerjaan
del my_dict['Pekerjaan']

In [61]:
# Mencetak variabel my_dict
my_dict

{'Nama': 'Park Chanyeol', 'Domisili': 'Bandung'}

In [62]:
# Set

my_set1 = {1,1,1,1,1,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5}
my_set2 = {3,6,9,12}

In [63]:
# Menggabungkan dua set di atas
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 9, 12}

In [64]:
# Mencari irisan dari dua set di atas
my_set1.intersection(my_set2)

{3}

## String Formatting

In [1]:
# Membuat variabel nama
nama = 'IkaNurfitriani'

In [2]:
# Mencetak huruf ke-4 atau index ke-3 dari variabel nama
nama[3]

'N'

In [3]:
# Mencetak huruf ke-5 sampai ke-9 atau index ke-4 sampai ke-8 dari variabel nama
nama[4:9]

'urfit'

In [4]:
# Mencari huruf y dalam variabel nama
'y' in nama

False

In [5]:
# Mencari huruf f dalam variabel nama
'f' in nama

True

In [6]:
# F String

nama = "Ika"
print(f"Nama saya {nama}")

Nama saya Ika

In [72]:
# Membuat variabel nama dan kelas
nama = "Budi"
kelas = "V B"

# Mencetak variabel nama dan kelas 
print(f"Siswa bernama {nama} berada di kelas {kelas}")

Siswa bernama Budi berada di kelas V B