# Live Session 2 (22/08/2022)- Conditions, Control Flow and Looping
#### By Ika Nurfitriani (PYTN-KS10-008)
Di pertemuan ini ada beberapa hal yang akan dibahas diantaranya conditions, control flow dan looping. Terdapat beberapa conditions yaitu If Statement, If Else Statement dan If Elif Statement. Serta terdapat dua looping yaitu While Loop dan For Loop.

### Contoh Notebook dengan VSCode

**Mencetak halo dunia**

In [1]:
print("halo dunia")

halo dunia

### Conditional

In [2]:
angka = 19
print(f"{angka} lebih kecil dari 10")

19 lebih kecil dari 10

**Dengan sintaks if**

In [3]:
angka = 8
if angka < 10:
    print(f"{angka} lebih kecil dari 10")
else:
    print(f"{angka} lebih besar dari 10")

8 lebih kecil dari 10

**Kondisi jika variabel angka bernilai 8**

In [4]:
angka = 8
if angka < 10:
    print(f"{angka} lebih kecil dari 10")
    print("Ini masih didalam if")
else:
    print(f"{angka} lebih besar dari 10")
    print ("Ini masih didalam else")
print("bagian ini tidak terpengaruh sintaks di atas")

8 lebih kecil dari 10
Ini masih didalam if
bagian ini tidak terpengaruh sintaks di atas

**Kondisi jika variabel angka bernilai 8**

In [5]:
angka = 8
if angka < 10:
    print(f"{angka} lebih kecil dari 10")
elif angka == 10:
    print(f"{angka} sama dengan 10")
else:
    print(f"{angka} lebih besar dari 10")

8 lebih kecil dari 10

**Kondisi jika variabel angka bernilai 17**

In [6]:
angka = 17
if angka < 20:
    print("Angka lebih kecil dari 20")

    if angka % 2 == 0:
        print("Bilangan genap lebih kecil dari 20")

else:
    print("Angka lebih besar dari 20")
    if angka % 2 != 0:
        print("Bilangan ganjil lebih besar dari 20")

Angka lebih kecil dari 20

**Kondisi jika bernilai false**

In [7]:
hujan = True
print("Ayo kita ke", 'pantai' if not hujan else 'perpusatakaan')

Ayo kita ke perpusatakaan

**Mencetak bilangan ganjil**

In [8]:
if angka % 2 == 0:
    pass
else:
    print("ganjil")

ganjil

### Looping

**While Loop**

In [9]:
i = 0
while i < 5:
    i += 1
    print(f"i ke {i}", "Halo dunia")
    # i = i + 1

i ke 1 Halo dunia
i ke 2 Halo dunia
i ke 3 Halo dunia
i ke 4 Halo dunia
i ke 5 Halo dunia

**BREAK**

In [10]:
i = 0
while i < 10:
    i += 1
    if i == 4:
        break
    print(f"i ke {i}", "Halo dunia")

i ke 1 Halo dunia
i ke 2 Halo dunia
i ke 3 Halo dunia

**CONTINUE**

In [11]:
i = 0
while i < 10:
    i += 1 #update variable
    if i == 4:
        continue #continue menskip yg di bwhnya
    print(f"i ke {i}", "Halo dunia")

i ke 1 Halo dunia
i ke 2 Halo dunia
i ke 3 Halo dunia
i ke 5 Halo dunia
i ke 6 Halo dunia
i ke 7 Halo dunia
i ke 8 Halo dunia
i ke 9 Halo dunia
i ke 10 Halo dunia

**Membuat perkalian angka 7 dengan while loop**

In [12]:
i = 1
while i <= 10:
    print(f"7 x {i} = {7*i}")
    i= i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**Membuat perkalian 1 sampai 10 dengan While Loop**

In [13]:
i = 1
j = 1
while j <= 10:
    while i <= 10:
        print(f" {j} x {i} = {j*i}")
        i += 1
    i = 1
    j += 1
    print("="*50)

 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 1 x 4 = 4
 1 x 5 = 5
 1 x 6 = 6
 1 x 7 = 7
 1 x 8 = 8
 1 x 9 = 9
 1 x 10 = 10
==================================================
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20
==================================================
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 3 x 10 = 30
==================================================
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40
==================================================
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
==================================================
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60
==================================================
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
==================================================
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 8 x 10 = 80
==================================================
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90
==================================================
 10 x 1 = 10
 10 x 2 = 20
 10 x 3 = 30
 10 x 4 = 40
 10 x 5 = 50
 10 x 6 = 60
 10 x 7 = 70
 10 x 8 = 80
 10 x 9 = 90
 10 x 10 = 100
==================================================

**Else dalam looping**

In [14]:
i = 0
while i < 5:
    print("Masih looping")
    i += 1
print("Looping selesai")

Masih looping
Masih looping
Masih looping
Masih looping
Masih looping
Looping selesai

**Else dalam looping**

In [15]:
i = 0
while i < 5:
    print("Masih looping")
    i += 1
    if i == 3:
        break
print("Looping selesai")

Masih looping
Masih looping
Masih looping
Looping selesai

**Else dalam looping**

In [16]:
i = 0
while i < 5:
    print("Masih looping")
    i += 1
    if i == 3:
        break
else:
    print("Looping selesai")

Masih looping
Masih looping
Masih looping

**Cek bilangan prima**

In [17]:
angka = 7
i = 2
while i < angka:
    if angka % i == 0:
        print("Bukan bilangan prima")
        break
    i += 1
else:
    print("Bilangan prima")

Bilangan prima

#### Range
**Mencetak bilangan di bawah range 10**

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Mencetak bilangan antara range 1 - 10**

In [19]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Mencetak bilangan antara range 1 - 10 dengan interval 2**

In [20]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

#### Fungsi range
**Mencetak perkalian 7 dengan For Loop**

In [21]:
for i in range(1, 11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**Membuat list fruits dan mencetaknya dengan For Loop**

In [22]:
fruits = ["Apel", "Nanas", "Jeruk", "Salak"]
for buah in fruits:
    print(buah)

Apel
Nanas
Jeruk
Salak

**Mencetak list fruits dengan While Loop**

In [23]:
idx = 0
while idx < len(fruits):
    print(f" Saya akan membeli buah {fruits[idx]}")
    idx += 1

 Saya akan membeli buah Apel
 Saya akan membeli buah Nanas
 Saya akan membeli buah Jeruk
 Saya akan membeli buah Salak

**Mencetak list fruits dengan For Loop**

In [24]:
for idx in range(len(fruits)):
    print(f" Saya akan makan buah {fruits[idx]}")

 Saya akan makan buah Apel
 Saya akan makan buah Nanas
 Saya akan makan buah Jeruk
 Saya akan makan buah Salak

**Mencetak angka di range 5 dengan For Loop**

In [25]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

**Membuat perkalian 1 sampai 10 dengan For Loop**

In [26]:
for j in range(1, 11):
    for i in range(1, 11):
        print(f" {j} x {i} = {j*i}")
    print("="*50)

 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 1 x 4 = 4
 1 x 5 = 5
 1 x 6 = 6
 1 x 7 = 7
 1 x 8 = 8
 1 x 9 = 9
 1 x 10 = 10
==================================================
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20
==================================================
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 3 x 10 = 30
==================================================
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40
==================================================
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
==================================================
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60
==================================================
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
==================================================
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 8 x 10 = 80
==================================================
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90
==================================================
 10 x 1 = 10
 10 x 2 = 20
 10 x 3 = 30
 10 x 4 = 40
 10 x 5 = 50
 10 x 6 = 60
 10 x 7 = 70
 10 x 8 = 80
 10 x 9 = 90
 10 x 10 = 100
==================================================