# Sesi 1 / Pertemuan 1 (Live Session)

Ini adalah notebook pertama saya

In [1]:
print("Hello World")

Hello World

Untuk menjalankan kode pada cell, dapat menggunakan shift+enter

## Tipe Data

In [2]:
# Tipe data tunggal
print(3512)

3512

In [3]:
type(3512)

int

In [4]:
print(3.1415)

3.1415

In [5]:
print(3+2j)

(3+2j)

In [6]:
type(3+2j)

complex

In [7]:
print(4.0)
type(4.0)

4.0

float

In [8]:
print(True)
type(True)

True

bool

In [9]:
print(False)
type(False)

False

bool

In [10]:
print("46")
type("46")

46

str

In [11]:
print('Nama Saya Ika')
type('Nama Saya Ika')

Nama Saya Ika

str

## Variabel

In [12]:
a = 12

In [13]:
print(a)
type(a)

12

int

In [14]:
a = 7.5
print(a)
type(a)

7.5

float

In [16]:
angka_1, angka_2 = 7, 15.2

In [17]:
print(angka_1)

7

In [18]:
print(angka_2)

15.2

In [19]:
nama = "Ika Nurfitriani"
print(nama)
type(nama)

Ika Nurfitriani

str

## Operasi

In [20]:
5 + 3

8

In [21]:
a = 5
b = 4

a // b

1

In [22]:
a % b

1

In [23]:
# Aritmatika
print(a + b)
print(a * b)

9
20

In [24]:
# String
nama_depan = "Ika"
nama_belakang = "Nurfitriani"

print(nama_depan + nama_belakang)

IkaNurfitriani

In [25]:
print(nama_depan * 5)

IkaIkaIkaIkaIka

In [26]:
# Perbandingan
a = 10
b = 5

print(a > b)

True

In [27]:
# Logika
print(False or True)

True

In [30]:
nama = "Ngodingpython channel"
print(nama.capitalize())
print(nama.upper())
print(nama.lower())
print(nama.title())

Ngodingpython channel
NGODINGPYTHON CHANNEL
ngodingpython channel
Ngodingpython Channel

## Tipe Data Majemuk

In [31]:
# Tuple dan List
my_tuple = (53, 45.2, True, "Ika", (1, 2, 3))
print(my_tuple)
type(my_tuple)

(53, 45.2, True, 'Ika', (1, 2, 3))

tuple

In [32]:
my_list = [53, 45.2, True, "Ika", (1, 2, 3)]
print(my_list)
type(my_list)

[53, 45.2, True, 'Ika', (1, 2, 3)]

list

In [33]:
print(my_tuple[3])

Ika

In [35]:
print(my_list[2])

True

In [36]:
print(my_list[-2])

Ika

In [37]:
print(my_list[2:4])

[True, 'Ika']

In [38]:
print(my_tuple[2:4])

(True, 'Ika')

In [39]:
"ika" in my_tuple

False

In [40]:
"Ika" in my_tuple

True

In [41]:
# Perbedaan

# Pengubahan data
my_list[3] = "NgodingPython"

In [42]:
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3)]

In [43]:
my_tuple[3] = "NgodingPython"

TypeError: 'tuple' object does not support item assignment

In [44]:
# Menambah data
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3)]

In [45]:
# Append
my_list.append("Hacktiv8")

In [46]:
my_list

[53, 45.2, True, 'NgodingPython', (1, 2, 3), 'Hacktiv8']

In [47]:
my_list.insert(0, "Kampus Merdeka")

In [48]:
my_list

['Kampus Merdeka', 53, 45.2, True, 'NgodingPython', (1, 2, 3), 'Hacktiv8']

In [49]:
# Menghapus data
my_list.remove('NgodingPython')

In [50]:
my_list

['Kampus Merdeka', 53, 45.2, True, (1, 2, 3), 'Hacktiv8']

In [51]:
del my_list[2]

In [52]:
my_list

['Kampus Merdeka', 53, True, (1, 2, 3), 'Hacktiv8']

In [54]:
# Dictionary
my_dict = {'Nama':'Ika Nurfitriani', 'Pekerjaan':'Mahasiswa'}

In [55]:
my_dict['Nama']

'Ika Nurfitriani'

In [56]:
my_dict['Nama'] = "Park Chanyeol"

In [57]:
my_dict

{'Nama': 'Park Chanyeol', 'Pekerjaan': 'Mahasiswa'}

In [58]:
my_dict['Domisili'] = 'Bandung'

In [59]:
my_dict

{'Nama': 'Park Chanyeol', 'Pekerjaan': 'Mahasiswa', 'Domisili': 'Bandung'}

In [60]:
del my_dict['Pekerjaan']

In [61]:
my_dict

{'Nama': 'Park Chanyeol', 'Domisili': 'Bandung'}

In [62]:
# Set

my_set1 = {1,1,1,1,1,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5}
my_set2 = {3,6,9,12}

In [63]:
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 9, 12}

In [64]:
my_set1.intersection(my_set2)

{3}

## String Formatting

In [65]:
nama = 'NgodingPython'

In [66]:
nama[3]

'd'

In [67]:
nama[4:9]

'ingPy'

In [68]:
'y' in nama

True

In [69]:
'p' in nama

False

In [71]:
# F String

nama = "Ika"
print(f"Nama saya {nama}")

Nama saya Ika

In [72]:
nama = "Budi"
kelas = "V B"
print(f"Siswa bernama {nama} berada di kelas {kelas}")

Siswa bernama Budi berada di kelas V B